.blocos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px; /* Define espaçamento vertical e horizontal */
    max-width: 297px; /* Ajuste conforme necessário */
    margin: auto; 
}

.bloco {
    background-color: #e700d4;
    height: 133px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    margin-left: 30px;
}