.blocos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px; /* Define espaçamento vertical e horizontal */
    max-width: 256px; /* Ajuste conforme necessário */
    margin: auto; 
}

.bloco {
    background-color: #a2ff00;
    height: 115px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    margin-left: 30px;
}