

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    
    
}


h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #9ca3af;
}


img {
    width: 230px;
   }

   p {
    text-align: left;
   }

.container {
    padding-top: 40px;
    width: 300px;
    text-align: center;
        
}

.container-img {
    padding-top: 40px;
    text-align: center;
}

.form-login {
    margin-top: -6px;
    margin-bottom: 28px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    text-align: center;
    
    
}
input[type="text"] {
    
  padding-left: 25px; 
  padding-right: 25px; 
    height: 2.5rem;
    background-color: #0C3972;
    border: none;
    border-radius: 16px;
    font-size: 0.875rem;
    color: #4b5563;
    outline: none;
    transition: background-color 0.3s;
    
}
input[type="text"]:focus {
    background-color: #e5e7eb;
    
}
svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    height: 24px;
    width: 24px;
    
    
}

input[type="password"] {
    
    padding-left: 25px; 
    padding-right: 25px;
    
    height: 2.5rem;
    background-color: #0C3972;
    border: none;
    border-radius: 16px;
    font-size: 0.875rem;
    color: #4b5563;
    outline: none;
    transition: background-color 0.3s;
    
}
input[type="password"]:focus {
    background-color: #e5e7eb;
}
svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    height: 24px;
    width: 24px;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 16px;
    
    position: relative;
    z-index: 1;
    
    
}
.centered-container {
    display: flex;
    justify-content: center;
   
    
}

.botao1 {
    
    margin-top: 70px;
    margin-right: 8px;
    display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #0C3972;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
}


.botao2 {
    margin-left: 8px;
    margin-top: 70px;
    display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #9ca3af;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
}

